#modal-content {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 0px 20px 0px;
    border: 4px solid black;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.delete-review-title {
    text-align: center;
    font-size: 26px;
}

#delete-review-description {
    display: flex;
    flex-direction: column;
}

.review-delete-confirm {
    width: 100%;
    height: 48px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px rgb(54, 54, 54);
    color: white;
    background-color: rgb(255, 107, 107);
    margin-bottom: 20px;
    font-size: 14px;
}

.review-delete-deny {
    width: 100%;
    height: 48px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px rgb(54, 54, 54);
    color: white;
    background-color: rgb(121, 121, 121);
    margin-bottom: 20px;
    font-size: 14px;
}
