#spot-main-container {
    background-color: rgb(148, 148, 148);
    padding: 5px;
    border-radius: 10px;
}

.spot-link {
    color: black;
    text-decoration: none;
}

#spots-details-container {
  display: flex;
  justify-content: space-between;
}

#spot-details-container:hover {
    cursor: pointer;
}

#spot-preview-img > img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 10px;
}

a {
    text-decoration: none;
}
