#manage-spots-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 20px;
}

.manage-spots-title-text {
    font-size: 30px;
    font-weight: 800;
}

.manage-spots-create-button {
    width: 150px;
}

#update-delete-spot-container {
    display: flex;
    padding-top: 30px;
    gap: 10px;
}
